* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .container {
  background: #DEECEC;
  border: 1px solid #84BABE;
  max-width: 100%;
}
header .container nav #navbarLogo {
  margin-left: 100px;
}
header .container nav #navbarNav ul {
  gap: 15px;
}
header .container nav #navbarNav ul li #home {
  color: #2C5F63;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
header .container nav #navbarNav ul li a {
  color: #6A7087;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .container .icon-text {
  background-color: #F04726;
  width: 15px;
  height: 10px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Work Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 25px;
  padding: 3px;
}

main .section-own {
  background-color: rgba(159, 193, 195, 0.4588235294);
  height: 800px auto;
}
main .section-own .container .text-1 {
  width: 200px auto;
  color: #589195;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
  height: 50px auto;
  flex-shrink: 0;
  margin-top: 80px;
}
main .section-own .container h1 {
  width: 430px auto;
  height: 152px auto;
  flex-shrink: 0;
  color: #3A415C;
  font-family: Outfit;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 120% */
}
main .section-own .container .text-2 {
  width: 593px auto;
  height: 56px auto;
  flex-shrink: 0;
  color: #707686;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
main .section-own .container button {
  width: 170px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 38px;
  border: none;
  background: #589195;
  color: #ffffff;
}
main .section-own .container .box-img {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  margin: 70px;
  border-radius: 416px;
  background: #FFF;
  box-shadow: 0px 4px 26px 0px rgba(131, 179, 196, 0.15);
}
main .section-own .container img {
  padding-bottom: 75px;
  height: 510px;
}
main .section-own .container .slider {
  width: 88px auto;
  height: 24px auto;
  flex-shrink: 0;
  margin: 90px 70px 0px 200px;
  cursor: pointer;
}
main .section-two .container {
  margin-top: 50px;
}
main .section-two .container #box-1 h5 {
  width: 130px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 333.333% */
}
main .section-two .container #box-1 p {
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-three {
  height: 700px auto;
}
main .section-three .container .text-pr {
  margin-top: 50px;
}
main .section-three .container .text-pr h2 {
  width: 310px;
  height: 71px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Outfit;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 120% */
}
main .section-three .container .text-pr p {
  width: 365px;
  height: 38px;
  flex-shrink: 0;
  color: #707686;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
main .section-three .container #card-1 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 30px;
}
main .section-three .container #card-1 .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-three .container #card-1 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-three .container #card-1 .tsihort img {
  width: 139px;
  height: 219px;
  flex-shrink: 0;
}
main .section-three .container #card-1 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-three .container #card-1 .card-body .reviews {
  width: 79px;
  height: 24px;
  margin-left: 5px;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-three .container #card-1 .card-body .card-text {
  width: 193px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-three .container #card-1 .card-body .card-price {
  width: 260px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-three .container #card-1 .card-body .card-price img {
  padding-left: 100px;
}
main .section-three .container #card-2 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 30px;
}
main .section-three .container #card-2 .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-three .container #card-2 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-three .container #card-2 .tsihort img {
  width: 146px;
  height: 219px;
  flex-shrink: 0;
}
main .section-three .container #card-2 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-three .container #card-2 .card-body .reviews {
  width: 79px;
  height: 24px;
  margin-left: 5px;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-three .container #card-2 .card-body .card-text {
  width: 179px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-three .container #card-2 .card-body .card-price {
  width: 50px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-three .container #card-3 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 30px;
}
main .section-three .container #card-3 .price {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-three .container #card-3 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-three .container #card-3 .tsihort img {
  width: 219px;
  height: 219px;
  flex-shrink: 0;
}
main .section-three .container #card-3 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-three .container #card-3 .card-body .reviews {
  width: 79px;
  height: 24px;
  margin-left: 5px;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-three .container #card-3 .card-body .card-text {
  width: 179px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-three .container #card-3 .card-body .card-price {
  width: 260px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-three .container #card-3 .card-body .card-price .price-strike {
  width: 50px;
  height: 45px;
  flex-shrink: 0;
  color: #969DAD;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
  margin-left: 10px;
}
main .section-three .container #card-4 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 30px;
}
main .section-three .container #card-4 .price {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-three .container #card-4 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-three .container #card-4 .tsihort img {
  width: 134px;
  height: 219px;
  flex-shrink: 0;
}
main .section-three .container #card-4 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-three .container #card-4 .card-body .reviews {
  width: 79px;
  height: 24px;
  flex-shrink: 0;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-three .container #card-4 .card-body .card-text {
  width: 179px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-three .container #card-4 .card-body .card-price {
  width: 260px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-three .container #card-4 .card-body .card-price .price-strike {
  width: 50px;
  height: 45px;
  flex-shrink: 0;
  color: #969DAD;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
  margin-left: 10px;
}
main .section-three .container #card-4 .card-body .card-price img {
  padding-left: 100px;
}
main .section-four {
  background: #F6F8FA;
  margin-top: 200px;
  height: 625px auto;
}
main .section-four .container .jpg {
  width: 200px auto;
  height: 200px auto;
  flex-shrink: 0;
  border-radius: 475px;
  background: #DEECEC;
  box-shadow: 0px 4px 14px 0px rgba(131, 179, 196, 0.15);
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}
main .section-four .container .jpg img {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  padding: 49px 50px 0px 40px;
}
main .section-four .container #box {
  margin-top: 100px;
}
main .section-four .container #box .text-box-1 {
  width: 400px;
  height: 50px auto;
  flex-shrink: 0;
  color: #589195;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
}
main .section-four .container #box h2 {
  width: 533px auto;
  height: 71px auto;
  flex-shrink: 0;
  color: #34394C;
  font-family: Outfit;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 120% */
}
main .section-four .container #box .text-box-2 {
  width: 519px auto;
  height: 90px;
  flex-shrink: 0;
  color: #707686;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
main .section-four .container #box .price .number-1 {
  width: 144px auto;
  height: 71px auto;
  flex-shrink: 0;
  color: #589195;
  font-family: Outfit;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 120% */
}
main .section-four .container #box .price .number-2 {
  width: 66px;
  height: 0.8px auto;
  color: #5B6075;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 250% */
  padding-left: 10px;
}
main .section-four .container #box .price button {
  width: 159px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 38px;
  background: #589195;
  color: #FFF;
  text-align: center;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 333.333% */
  border: none;
  margin-left: 40px;
}
main .section-four .container #box .text-box-3 {
  color: #34394C;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
  width: 66px;
  height: 50px;
  flex-shrink: 0;
}
main .section-four .container #box .date {
  margin-left: 40px;
  width: 29px;
  height: 50px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px; /* 200% */
}
main .section-four .container #box .date-text {
  width: 55px;
  height: 50px;
  flex-shrink: 0;
  color: #34394C;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px; /* 375% */
}
main .section-four .container #box .date-text ul {
  gap: 20px;
  display: flex;
}
main .section-four .container #box .date-text ul li {
  list-style: none;
}
main .section-five {
  height: 700px auto;
}
main .section-five .container {
  margin-top: 179px;
}
main .section-five .container #group .brazilia h2 {
  width: 350px;
  height: 71px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Outfit;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 120% */
}
main .section-five .container #group .brazilia p {
  width: 365px;
  height: 38px;
  flex-shrink: 0;
  color: #707686;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
main .section-five .container #group ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 65px;
  width: 200px;
  height: 50px;
  margin-left: 200px;
}
main .section-five .container #group ul li {
  font-family: Outfit;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
}
main .section-five .container #group ul li a {
  color: #AFB4C4;
  text-decoration: none;
}
main .section-five .container #card-1 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 70px;
}
main .section-five .container #card-1 .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-five .container #card-1 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-five .container #card-1 .tsihort img {
  width: 147px;
  height: 260px;
  flex-shrink: 0;
}
main .section-five .container #card-1 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-five .container #card-1 .card-body .reviews {
  width: 79px;
  height: 24px;
  margin-left: 5px;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-five .container #card-1 .card-body .card-text {
  width: 220px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-five .container #card-1 .card-body .card-price {
  width: 260px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-five .container #card-1 .card-body .card-price img {
  padding-left: 100px;
}
main .section-five .container #card-2 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 40px;
}
main .section-five .container #card-2 .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-five .container #card-2 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-five .container #card-2 .tsihort img {
  width: 224px;
  height: 246px;
  flex-shrink: 0;
}
main .section-five .container #card-2 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-five .container #card-2 .card-body .reviews {
  width: 79px;
  height: 24px;
  margin-left: 5px;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-five .container #card-2 .card-body .card-text {
  width: 179px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-five .container #card-2 .card-body .card-price {
  width: 50px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-five .container #card-3 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 70px;
}
main .section-five .container #card-3 .price {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-five .container #card-3 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-five .container #card-3 .tsihort img {
  width: 151px;
  height: 246px;
  flex-shrink: 0;
}
main .section-five .container #card-3 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-five .container #card-3 .card-body .reviews {
  width: 79px;
  height: 24px;
  margin-left: 5px;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-five .container #card-3 .card-body .card-text {
  width: 200px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-five .container #card-3 .card-body .card-price {
  width: 260px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-five .container #card-3 .card-body .card-price .price-strike {
  width: 50px;
  height: 45px;
  flex-shrink: 0;
  color: #969DAD;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
  margin-left: 10px;
}
main .section-five .container #card-3 .card-body .card-price img {
  padding-left: 100px;
}
main .section-five .container #card-4 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 40px;
}
main .section-five .container #card-4 .price {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-five .container #card-4 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-five .container #card-4 .tsihort img {
  width: 154px;
  height: 268px;
  flex-shrink: 0;
}
main .section-five .container #card-4 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-five .container #card-4 .card-body .reviews {
  width: 79px;
  height: 24px;
  flex-shrink: 0;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-five .container #card-4 .card-body .card-text {
  width: 179px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-five .container #card-4 .card-body .card-price {
  width: 260px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-five .container #card-4 .card-body .card-price .price-strike {
  width: 50px;
  height: 45px;
  flex-shrink: 0;
  color: #969DAD;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
  margin-left: 10px;
}
main .section-five .container #card-4 .card-body .card-price img {
  padding-left: 100px;
}
main .section-six .container {
  margin-top: 220px;
  height: 700px auto;
}
main .section-six .container #card-1 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 70px;
}
main .section-six .container #card-1 .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-six .container #card-1 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-six .container #card-1 .tsihort img {
  width: 103px;
  height: 243px;
  flex-shrink: 0;
}
main .section-six .container #card-1 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-six .container #card-1 .card-body .reviews {
  width: 79px;
  height: 24px;
  margin-left: 5px;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-six .container #card-1 .card-body .card-text {
  width: 220px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-six .container #card-1 .card-body .card-price {
  width: 260px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-six .container #card-1 .card-body .card-price img {
  padding-left: 100px;
}
main .section-six .container #card-2 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 45px;
}
main .section-six .container #card-2 .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-six .container #card-2 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-six .container #card-2 .tsihort img {
  width: 148px;
  height: 268px;
  flex-shrink: 0;
}
main .section-six .container #card-2 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-six .container #card-2 .card-body .reviews {
  width: 79px;
  height: 24px;
  margin-left: 5px;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-six .container #card-2 .card-body .card-text {
  width: 179px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-six .container #card-2 .card-body .card-price {
  width: 50px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-six .container #card-3 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 70px;
}
main .section-six .container #card-3 .price {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-six .container #card-3 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-six .container #card-3 .tsihort img {
  width: 159px;
  height: 252px;
  flex-shrink: 0;
}
main .section-six .container #card-3 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-six .container #card-3 .card-body .reviews {
  width: 79px;
  height: 24px;
  margin-left: 5px;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-six .container #card-3 .card-body .card-text {
  width: 200px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-six .container #card-3 .card-body .card-price {
  width: 260px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-six .container #card-3 .card-body .card-price .price-strike {
  width: 50px;
  height: 45px;
  flex-shrink: 0;
  color: #969DAD;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
  margin-left: 10px;
}
main .section-six .container #card-3 .card-body .card-price img {
  padding-left: 100px;
}
main .section-six .container #card-4 {
  width: 260px;
  height: 330px auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F7F8FC;
  border: none;
  margin-bottom: 65px;
}
main .section-six .container #card-4 .price {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
main .section-six .container #card-4 .tsihort {
  width: 250px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
main .section-six .container #card-4 .tsihort img {
  width: 144px;
  height: 255px;
  flex-shrink: 0;
}
main .section-six .container #card-4 .card-body {
  height: 150px;
  width: 260px;
  margin-top: 40px;
  margin-left: -25px;
  border: 1px solid white;
}
main .section-six .container #card-4 .card-body .reviews {
  width: 79px;
  height: 24px;
  flex-shrink: 0;
  color: #7F8698;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}
main .section-six .container #card-4 .card-body .card-text {
  width: 179px;
  height: 45px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 272.727% */
}
main .section-six .container #card-4 .card-body .card-price {
  width: 260px;
  height: 45px;
  flex-shrink: 0;
  color: #297176;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 240% */
}
main .section-six .container #card-4 .card-body .card-price .price-strike {
  width: 50px;
  height: 45px;
  flex-shrink: 0;
  color: #969DAD;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 300% */
  margin-left: 10px;
}
main .section-six .container #card-4 .card-body .card-price img {
  padding-left: 100px;
}
main .section-seven {
  height: 700px auto;
}
main .section-seven .container {
  margin-top: 275px;
}
main .section-seven .container #jpg-girl {
  display: flex;
  width: 540px;
  height: 325px auto;
  flex-shrink: 0;
  background: #E9E6F0;
  margin: 5px;
}
main .section-seven .container #jpg-girl .box-text {
  margin-top: 65px;
  margin-bottom: 70px;
  margin-left: 48px;
  width: 150px;
  height: 80px auto;
}
main .section-seven .container #jpg-girl .box-text .get-off {
  width: 90px;
  height: 50px;
  flex-shrink: 0;
  color: #589195;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 428.571% */
}
main .section-seven .container #jpg-girl .box-text h3 {
  width: 196px;
  height: 110px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
main .section-seven .container #jpg-girl .box-text p {
  color: #000;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  text-decoration-line: underline;
}
main .section-seven .container #jpg-girl .box-img {
  margin-top: 20px;
}
main .section-seven .container #jpg-man {
  display: flex;
  width: 540px;
  height: 325px auto;
  flex-shrink: 0;
  background: #F6EBD9;
  margin: 5px;
}
main .section-seven .container #jpg-man .box-text {
  margin-top: 65px;
  margin-bottom: 70px;
  margin-left: 48px;
  width: 150px;
  height: 80px auto;
}
main .section-seven .container #jpg-man .box-text .get-off {
  width: 90px;
  height: 50px;
  flex-shrink: 0;
  color: #589195;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 428.571% */
}
main .section-seven .container #jpg-man .box-text h3 {
  width: 196px;
  height: 110px;
  flex-shrink: 0;
  color: #34394C;
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
main .section-seven .container #jpg-man .box-text p {
  color: #000;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  text-decoration-line: underline;
}
main .section-seven .container #jpg-man .box-img {
  margin-top: 20px;
}

.section-eight .container img {
  margin: 10px;
}
.section-eight .container h2 {
  margin-top: 82px;
  width: 405px auto;
  height: 71px auto;
  flex-shrink: 0;
  color: #34394C;
  font-family: Outfit;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 120% */
}
.section-eight .container P {
  width: 365px auto;
  height: 38px auto;
  flex-shrink: 0;
  color: #707686;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
.section-eight .container .box-text {
  width: 81px;
  height: 59px;
  flex-shrink: 0;
  color: #34394C;
  text-align: center;
  font-family: Outfit;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 214.286% */
  margin-left: 85px;
}
.section-eight .container .box-text span {
  width: 122px;
  flex-shrink: 0;
  color: #BFBFBF;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 375% */
}

.section-night {
  height: 177px auto;
  background-color: #F6F8FA;
  margin-top: 75px;
}
.section-night .container #group-1 {
  margin-top: 198px;
}
.section-night .container #group-1 h3 {
  width: 311px auto;
  height: 125px auto;
  flex-shrink: 0;
  color: #34394C;
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
}
.section-night .container #group-1 p {
  width: 365px auto;
  height: 60px auto;
  flex-shrink: 0;
  color: #707686;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
}
.section-night .container #group-2 {
  margin-top: 110px;
  margin-left: 100px;
}
.section-night .container #group-3 {
  margin-top: 129px;
  margin-left: 100px;
}
.section-night .container #group-3 .box {
  width: 350px;
  height: 396px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 2px 19px 2px rgba(208, 227, 227, 0.49);
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 27px;
}

.section-ten {
  height: 154px auto;
  margin-top: 50px;
}
.section-ten .container {
  display: none;
  align-items: center;
  justify-content: center;
}
.section-ten .container img {
  padding: 50px;
}

footer .section-eleven {
  height: 400px auto;
  width: 1200px auto;
  background-color: #E8EAEF;
}
footer .section-eleven .container img {
  margin-top: 89px;
}
footer .section-eleven .container p {
  color: #707686;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
  width: 350px auto;
  height: 56px auto;
  flex-shrink: 0;
}
footer .section-eleven .container input {
  width: 236px;
  height: 40px auto;
  flex-shrink: 0;
  border-radius: 3px;
  background: #FFF;
  border: none;
  color: #AEB0B8;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 200% */
  letter-spacing: -0.42px;
  padding: 7px;
}
footer .section-eleven .container svg {
  margin: 10px;
}
footer .section-eleven .container .copryght {
  color: #707686;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  margin-top: 42px;
}
footer .section-eleven .container h4 {
  color: #34394C;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  margin-top: 112px;
  margin-left: 60px;
}
footer .section-eleven .container .box {
  display: flex;
  margin-left: 60px;
}
footer .section-eleven .container .box .box-icon svg {
  margin: 10px 10px 48px 0px;
}
footer .section-eleven .container ul {
  margin-left: 30px;
}
footer .section-eleven .container ul li {
  list-style: none;
}
footer .section-eleven .container ul li a {
  text-decoration: none;
  color: #6E7489;
  color: #6E7489;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  display: flex;
  display: flex;
  width: 86px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
footer .section-eleven .container .box-categories {
  display: flex;
}
footer .section-eleven .container .privacy {
  padding-top: 80px;
}

@media screen and (max-width: 560px) {
  .section-five .container #group .brazilia {
    display: block;
  }
  .section-five .container #group ul li {
    display: none;
  }
  .section-seven .container .row #jpg-girl {
    display: block;
  }
  .section-seven .container .row #jpg-girl img {
    width: 225px;
    height: 225px;
  }
  .section-seven .container .row #jpg-man {
    display: block;
  }
  .section-seven .container .row #jpg-man img {
    width: 250px;
    height: 250px;
  }
  .section-own .container .box-img {
    display: none;
  }
  .section-own .container img {
    display: none;
  }
  .section-own .container .slider {
    display: none;
  }
  .section-night .container {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */